In [4]:
import psycopg2
import pandas as pd
import os
from sqlalchemy import create_engine

In [224]:
engine = create_engine('postgresql://salientminds:BIO_postgres2363!@13.67.208.150:5432/biobot_test')

In [162]:
engine

Engine(postgresql://salientminds:***@13.67.208.150:5432/biobot)

In [163]:
data= pd.read_sql_table("bio_apis_patientcomplete",engine)

In [139]:
data

   id patient_id first_name last_name  age                     race  gender                               smoking marital_status insurance zipcode  bmi  height  weight   mrn modified_by                    procedure   comorbidities asa_status opioid_medications surgical_history     narcotics_use opioid_allergies  diabetes  deconditioned history_of_addiction  inpatient  statirs_at_home        dob  createdby_id
0   2      gUODg       tony  priyanka   23                    Asian  Female                                    no         single        no  533006   25      56      56  5626     shankar                        test1           test2      test3                  3                3                no               no      True           True                   no       True             True 2020-05-01             3
1   3      yyNCL   Patient1     sfsdf   21  African American(Black)  Female  Passive Smoke Exposure - Never Smoke        Married  Medicare   21312    0      12      23     8           8      Total Knee Arthroplasty  Heart diseases         II                  2                1      Opioid naive        Oxycodone      True           True            Narcotics      False             True 2016-06-20             1
2   4      pXQsW   patient2  patient2    0  African American(Black)  Female                  Light Tobacco Smoker        Married  Medicare    2323    0     213      45   963           8  Patellofemoral Arthroplasty         Obesity        III                  2                3  Opioid dependent        Morphine,     False           True            Narcotics      False             True 2020-05-10             1

In [11]:
data.columns

Index(['id', 'patient_id', 'first_name', 'last_name', 'age', 'race', 'gender',
       'smoking', 'marital_status', 'insurance', 'zipcode', 'bmi', 'height',
       'weight', 'mrn', 'modified_by', 'procedure', 'comorbidities',
       'asa_status', 'opioid_medications', 'surgical_history', 'narcotics_use',
       'opioid_allergies', 'diabetes', 'deconditioned', 'history_of_addiction',
       'inpatient', 'statirs_at_home', 'dob', 'createdby_id'],
      dtype='object')

# importig local data

In [13]:
local_data = pd.read_csv('sample data.csv')

In [34]:
local_data.head(2)

   mrn   csn   sex          proceduregroup  extendedproceduregroup  averagetotalmmedaysurgicalencoun  day0mme  day1mme  day2mme  day3mme  day4mme  los  years   bmi  asaphysicalstatus  smokingstatus   race religiongroup zipcode         surgeon                       dischargedisposition  medianhouseholdincome2016  marginoferrorofmedianhouseholdin insurancetype insurancetypeexpanded
0    1  1360  Male  Total Hip Arthroplasty  Total Hip Arthroplasty                             45.00    45.00     45.0      NaN      NaN      NaN    1     60  24.9                2.0  Former Smoker  White        Jewish   11215   CAPECI, CRAIG  Home - under care of Home Health Services                   108178.0                            4491.0    Commercial            Commercial
1    2   939  Male  Total Hip Arthroplasty  Total Hip Arthroplasty                             15.75    41.25      7.5     15.0      NaN     15.0    4     83  23.5                3.0  Former Smoker  White     Christian   10016  LAMONT, JUSTIN  Home - under care of Home Health Services                   102703.0                            6117.0      Medicare              Medicare

In [17]:
local_data.columns

Index(['mrn', 'csn', 'sex', 'proceduregroup', 'extendedproceduregroup',
       'averagetotalmmedaysurgicalencoun', 'day0mme', 'day1mme', 'day2mme',
       'day3mme', 'day4mme', 'los', 'years', 'bmi', 'asaphysicalstatus',
       'smokingstatus', 'race', 'religiongroup', 'zipcode', 'surgeon',
       'dischargedisposition', 'medianhouseholdincome2016',
       'marginoferrorofmedianhouseholdin', 'insurancetype',
       'insurancetypeexpanded'],
      dtype='object')

# renaming column names

In [20]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [36]:
local_data.head(1)

   mrn   csn   sex          proceduregroup  extendedproceduregroup  averagetotalmmedaysurgicalencoun  day0mme  day1mme  day2mme  day3mme  day4mme  los  years   bmi  asaphysicalstatus  smokingstatus   race religiongroup zipcode        surgeon                       dischargedisposition  medianhouseholdincome2016  marginoferrorofmedianhouseholdin insurancetype insurancetypeexpanded patient_id
0    1  1360  Male  Total Hip Arthroplasty  Total Hip Arthroplasty                              45.0     45.0     45.0      NaN      NaN      NaN    1     60  24.9                2.0  Former Smoker  White        Jewish   11215  CAPECI, CRAIG  Home - under care of Home Health Services                   108178.0                            4491.0    Commercial            Commercial

In [33]:
data.head(1)

   id patient_id first_name last_name  age   race  gender smoking marital_status insurance zipcode  bmi  height  weight   mrn modified_by procedure comorbidities asa_status opioid_medications surgical_history narcotics_use opioid_allergies  diabetes  deconditioned history_of_addiction  inpatient  statirs_at_home        dob  createdby_id
0   2      gUODg       tony  priyanka   23  Asian  Female      no         single        no  533006   25      56      56  5626     shankar     test1         test2      test3                  3                3            no               no      True           True                   no       True             True 2020-05-01             3

In [35]:
local_data['patient_id'] = ''

In [3]:
import random
import string

def randStr(chars = string.ascii_uppercase + string.digits, N=10):
    return ''.join(random.choice(chars) for _ in range(N))

# random string of length 7
print(randStr(N=25))

<built-in method lower of str object at 0x0000019E6E845710>

In [ ]:
# generating patient_id
import random
patient_id=[]
for x in range(len(local_data)):
#     print(randStr(N=5))
    patient_id.append(randStr(N=5))
local_data['patient_id']=patient_id

In [71]:
# generating unique id
sequence = [i for i in range(5,10525)]
# print(len(sequence))
local_data['id']=sequence

10516

In [132]:
# data.head(1)

In [ ]:
['id','patient_id','first_name','last_name','years','race','sex','smokingstatus','marital_status','insurancetype','zipcode','bmi','height','weight','mrn','modified_by','proceduregroup','comorbidities','asaphysicalstatus','opioid_medications','surgical_history','narcotics_use','opioid_allergies', 'diabetes', 'deconditioned', 'history_of_addiction','inpatient', 'statirs_at_home', 'dob', 'createdby_id']

In [246]:
local_data1 = local_data[['id','patient_id','first_name','last_name','years','race','sex','smokingstatus','insurancetype','zipcode','bmi','mrn','proceduregroup','asaphysicalstatus']]

In [247]:
# local_data1.head(1)

In [248]:
local_data1=local_data1.reindex(columns=[*local_data1.columns.tolist(), 'marital_status','height','weight','modified_by','comorbidities','opioid_medications','surgical_history','narcotics_use','opioid_allergies', 'diabetes', 'deconditioned', 'history_of_addiction','inpatient', 'statirs_at_home', 'dob', 'createdby_id'], fill_value="0")

In [249]:
# data

In [250]:
local_data1 = local_data1[['id','patient_id','first_name','last_name','years','race','sex','smokingstatus','marital_status','insurancetype','zipcode','bmi','height','weight','mrn','modified_by','proceduregroup','comorbidities','asaphysicalstatus','opioid_medications','surgical_history','narcotics_use','opioid_allergies','diabetes','deconditioned','history_of_addiction','inpatient','statirs_at_home','dob','createdby_id']]

In [251]:
# local_data1.head(1)

In [252]:
local_data1.columns = ['id', 'patient_id', 'first_name', 'last_name', 'age', 'race', 'gender','smoking', 'marital_status', 'insurance', 'zipcode', 'bmi', 'height','weight', 'mrn', 'modified_by', 'procedure', 'comorbidities','asa_status', 'opioid_medications', 'surgical_history', 'narcotics_use','opioid_allergies', 'diabetes', 'deconditioned', 'history_of_addiction','inpatient', 'statirs_at_home', 'dob', 'createdby_id']

In [253]:
local_data1.head(2)

   id patient_id first_name last_name  age   race gender        smoking marital_status   insurance zipcode   bmi height weight  mrn modified_by               procedure comorbidities  asa_status opioid_medications surgical_history narcotics_use opioid_allergies diabetes deconditioned history_of_addiction inpatient statirs_at_home dob createdby_id
0   5      EGM0E                        60  White   Male  Former Smoker              0  Commercial   11215  24.9      0      0    1           0  Total Hip Arthroplasty             0         2.0                  0                0             0                0        0             0                    0         0               0   0            0
1   6      5GX6S                        83  White   Male  Former Smoker              0    Medicare   10016  23.5      0      0    2           0  Total Hip Arthroplasty             0         3.0                  0                0             0                0        0             0                    0         0               0   0            0

In [254]:
local_data1.bmi.value_counts()

27.500000    93
25.900000    93
26.700001    88
28.000000    82
28.799999    79
28.400000    77
26.600000    77
28.600000    77
31.700001    77
31.100000    75
29.000000    75
28.299999    74
29.900000    73
31.200001    73
24.600000    73
27.400000    73
28.200001    72
24.299999    71
27.700001    71
28.700001    70
31.400000    70
29.200001    70
29.400000    69
28.500000    69
27.299999    68
33.000000    68
32.200001    68
25.100000    67
26.500000    66
27.799999    66
25.799999    66
32.900002    66
23.500000    65
30.799999    65
29.299999    65
30.000000    64
27.200001    64
32.000000    63
30.900000    63
30.100000    62
29.100000    62
24.700001    61
29.700001    61
29.600000    61
28.100000    61
25.700001    61
27.000000    60
27.100000    60
27.900000    59
23.799999    59
26.299999    59
26.200001    59
32.400002    59
30.200001    59
30.500000    58
25.000000    58
23.200001    58
30.299999    58
32.700001    57
24.400000    57
25.400000    57
29.799999    57
30.700001    57
25.600000    56
34.200001    56
30.600000    55
24.900000    54
35.200001    54
31.600000    54
32.500000    53
32.099998    53
31.900000    53
31.299999    53
23.900000    53
29.500000    53
32.299999    53
36.400002    53
31.000000    52
31.799999    51
26.100000    51
33.400002    51
30.400000    51
33.099998    51
33.500000    50
27.600000    50
34.400002    50
28.900000    50
33.900002    50
26.900000    49
25.500000    49
25.299999    49
34.599998    49
33.700001    48
32.599998    48
24.200001    47
34.099998    47
33.799999    46
31.500000    46
33.299999    45
33.200001    45
22.500000    45
26.400000    45
24.500000    45
26.799999    45
25.200001    45
35.599998    44
23.100000    43
22.900000    43
34.000000    43
35.799999    42
34.799999    42
26.000000    42
23.700001    41
32.799999    41
35.000000    41
24.000000    40
35.400002    40
22.799999    40
34.900002    40
35.099998    40
33.599998    40
23.299999    40
38.200001    39
37.099998    39
34.299999    39
22.000000    38
24.100000    38
36.099998    38
37.700001    37
34.500000    37
36.799999    36
22.700001    35
35.500000    35
36.900002    34
36.200001    34
38.400002    34
24.799999    34
22.400000    34
37.400002    34
21.500000    33
35.900002    33
36.700001    33
22.200001    32
38.700001    32
37.599998    32
35.700001    31
37.900002    31
36.000000    31
22.100000    30
35.299999    30
38.299999    30
23.400000    29
23.000000    29
37.299999    29
22.299999    28
38.099998    28
39.900002    28
37.799999    27
21.799999    27
21.700001    27
36.599998    27
21.000000    26
37.200001    26
38.000000    25
23.600000    25
21.900000    24
34.700001    24
39.400002    24
20.400000    23
37.500000    23
39.000000    23
37.000000    23
38.900002    23
36.299999    23
21.299999    23
39.599998    22
39.799999    22
20.900000    22
41.400002    22
36.500000    22
38.799999    22
21.200001    21
39.099998    21
42.099998    21
42.400002    20
40.700001    20
41.000000    20
43.000000    20
41.700001    20
38.599998    19
20.799999    19
22.600000    19
39.200001    19
38.500000    19
43.400002    19
40.400002    18
40.000000    18
41.099998    18
20.500000    18
39.700001    17
40.799999    17
39.500000    17
40.299999    17
20.000000    17
20.200001    17
41.599998    16
21.400000    16
20.700001    15
42.700001    15
41.900002    15
21.600000    15
20.100000    15
39.299999    15
43.599998    15
40.500000    14
20.600000    14
40.599998    14
41.299999    14
19.700001    14
40.099998    14
44.900002    13
41.200001    13
41.500000    13
40.200001    13
20.299999    13
40.900002    12
42.200001    12
42.900002    12
43.799999    12
19.900000    12
19.299999    12
44.099998    12
42.500000    12
43.200001    11
21.100000    11
43.700001    11
43.900002    11
44.599998    11
42.599998    11
19.799999    10
41.799999    10
42.000000    10
45.000000    10
18.700001    10
42.299999    10
19.500000    10
43.099998    10
45.299999     9
19.200001     9
44.000000     9
43.299999     9
18.600000     9
17.900000     8
19.600000     8
45.400002     8
18.299999     8
44.200001     8
46.000000     8
45.099998     8
43.500000     8
19.000000     8
47.000000     7
18.000000     7
46.299999     7
44.400002     7
44.299999     7
46.700001     7
19.400000     7
46.200001     6
44.700001     6
47.799999     6
19.100000     6
45.200001     6
47.099998     6
18.500000     6
46.400002     6
47.200001     6
45.799999     6
18.900000     6
47.599998     6
18.799999     5
44.500000     5
50.500000     5
47.299999     5
18.200001     5
45.500000     5
46.900002     5
44.799999     5
17.400000     5
16.799999     5
49.700001     5
45.599998     5
49.299999     5
46.599998     5
51.900002     4
47.500000     4
17.700001     4
18.100000     4
47.700001     4
17.799999     4
18.400000     4
51.400002     4
47.900002     4
46.799999     4
47.400002     4
17.600000     4
48.700001     3
45.900002     3
50.900002     3
42.799999     3
45.700001     3
17.299999     3
48.000000     3
46.500000     3
50.099998     3
52.900002     3
16.400000     2
50.400002     2
50.000000     2
48.900002     2
52.299999     2
48.200001     2
15.200000     2
46.099998     2
49.400002     2
55.099998     2
51.700001     2
48.500000     2
53.799999     2
16.700001     2
52.099998     2
52.799999     2
48.799999     2
52.700001     2
17.000000     2
49.000000     2
55.200001     1
49.799999     1
59.599998     1
51.799999     1
49.900002     1
49.200001     1
54.799999     1
52.400002     1
52.599998     1
50.700001     1
54.099998     1
52.500000     1
51.099998     1
55.799999     1
49.599998     1
53.900002     1
48.099998     1
51.500000     1
58.700001     1
50.799999     1
48.299999     1
16.900000     1
54.400002     1
16.200001     1
48.599998     1
51.200001     1
17.100000     1
53.099998     1
15.500000     1
53.200001     1
48.400002     1
55.700001     1
51.599998     1
16.299999     1
54.900002     1
16.500000     1
56.799999     1
17.200001     1
50.599998     1
57.200001     1
50.200001     1
49.500000     1
49.099998     1
Name: bmi, dtype: int64

In [255]:
local_data1['createdby_id']=1

In [256]:
import time
local_data1['dob']=time.strftime("%Y-%m-%d")
# local_data1['dob']=''

In [257]:
local_data1.smoking.value_counts()

Never Smoker                             5686
Former Smoker                            3828
Current Every Day Smoker                  625
Current Some Day Smoker                   257
Light Tobacco Smoker                       57
*Unknown                                   18
Never Assessed                             17
Heavy Tobacco Smoker                       12
Passive Smoke Exposure - Never Smoker       9
*Unspecified                                7
Smoker, Current Status Unknown              2
Unknown If Ever Smoked                      2
Name: smoking, dtype: int64

In [258]:
local_data1=local_data1[(local_data1.id != 5)&(local_data1.mrn != 741)&(local_data1.mrn != 17)]

In [259]:
local_data1=local_data1.drop_duplicates('mrn')

In [260]:
len(local_data1.mrn.unique())

9433

In [261]:
len(local_data1.mrn)

9433

In [262]:
engine = create_engine('postgresql://salientminds:BIO_postgres2363!@13.67.208.150:5432/biobot_test')

In [263]:
local_data2=local_data1.iloc[0:100,:]

In [264]:
local_data1=local_data1.iloc[100:,:]

In [265]:
local_data1.to_sql(name = 'bio_apis_patientcomplete',con = engine,index=False,if_exists='append')

In [214]:
len(local_data1.drop_duplicates())

10518